beautifulsoup4
chess==1.10.0
einops==0.8.0
fastapi==0.115.6
gdown==5.2.0
httpx==0.28.1
maia2==0.9
numpy==1.26.4
pandas==2.2.3
pyarrow
pyzstd==0.15.9
PyYAML==6.0.3
requests==2.32.3
torch==2.4.0
tqdm==4.65.0
uvicorn==0.34.0
